<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noodp, noydir, index, follow">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <%= content_for(:title) || 'Dashboard' %> - <%= Rails.application.class.module_parent_name.titlecase %>
    </title>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render "stylesheet" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>
  </head>
  <body class="admin-layout">
    <%= render 'shared/global_navigation' %>
    
    <div class="app-container">
      <main class="main-content" role="main">
        <%= content_tag :div, id: "flash-messages", data: session_timeout_data do %>
          <%= render 'shared/flashes' %>
        <% end %>
        <%= yield %>
      </main>
    </div>

    <div style="display: none; width: 0; height: 0; overflow: hidden; position: absolute">
      <%= render "icons" %>
    </div>
    <%= render "javascript" %>
  </body>
</html>
