<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noodp, noydir, index, follow">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <%= content_for(:title) || 'Dashboard' %> - <%= Rails.application.class.module_parent_name.titlecase %>
    </title>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render "stylesheet" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>
  </head>
  <body class="admin-layout">
    <%= render 'shared/global_navigation' %>
    
    <div class="app-container">
      <main class="main-content" role="main">
        <% timeout_data = { controller: "session-timeout" } %>
        <% if user_signed_in? %>
          <% timeout_in_seconds = Devise.timeout_in.to_i %>
          <% session_data = defined?(warden) ? warden.session(:user) : {} %>
          <% last_request_at = session_data && session_data["last_request_at"] %>
          <% expires_at = if last_request_at.present?
                            last_request_at.to_i + timeout_in_seconds
                          else
                            Time.current.to_i + timeout_in_seconds
                          end %>
          <% timeout_data.merge!(
               session_timeout_expires_at_value: expires_at,
               session_timeout_duration_value: timeout_in_seconds,
               session_timeout_warning_offset_value: 15,
               session_timeout_keepalive_url_value: user_session_keepalive_path,
               session_timeout_warning_message_value: t("session_timeout.warning_message"),
               session_timeout_stay_signed_in_label_value: t("session_timeout.stay_signed_in"),
               session_timeout_error_message_value: t("session_timeout.error_message"),
               session_timeout_expired_message_value: t("session_timeout.expired_message")
             ) %>
        <% end %>
        <%= content_tag :div, id: "flash-messages", data: timeout_data do %>
          <%= render 'shared/flashes' %>
        <% end %>
        <%= yield %>
      </main>
    </div>

    <div style="display: none; width: 0; height: 0; overflow: hidden; position: absolute">
      <%= render "icons" %>
    </div>
    <%= render "javascript" %>
  </body>
</html>
