<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tul Isilon Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag("wunderbaum/dist/wunderbaum.css", media: "all", "data-turbo-track": "reload") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <%= render 'shared/global_navigation' %>
    
    <div class="container">
      <% timeout_data = { controller: "session-timeout" } %>
      <% if user_signed_in? %>
        <% timeout_in_seconds = Devise.timeout_in.to_i %>
        <% session_data = defined?(warden) ? warden.session(:user) : {} %>
        <% last_request_at = session_data && session_data["last_request_at"] %>
        <% expires_at = if last_request_at.present?
                          last_request_at.to_i + timeout_in_seconds
                        else
                          Time.current.to_i + timeout_in_seconds
                        end %>
        <% timeout_data.merge!(
             session_timeout_expires_at_value: expires_at,
             session_timeout_duration_value: timeout_in_seconds,
             session_timeout_warning_offset_value: 15,
             session_timeout_keepalive_url_value: user_session_keepalive_path,
             session_timeout_warning_message_value: t("session_timeout.warning_message"),
             session_timeout_stay_signed_in_label_value: t("session_timeout.stay_signed_in"),
             session_timeout_dismiss_label_value: t("session_timeout.dismiss"),
             session_timeout_error_message_value: t("session_timeout.error_message"),
             session_timeout_expired_message_value: t("session_timeout.expired_message")
           ) %>
      <% end %>
      <%= content_tag :div, id: "flash-messages", data: timeout_data do %>
        <%= render 'shared/flashes' %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
