<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tul Isilon Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag("wunderbaum/dist/wunderbaum.css", media: "all", "data-turbo-track": "reload") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <%= render 'shared/global_navigation' %>
    
    <div class="container">
      <div id="flash-messages">
        <%= render 'shared/flashes' %>
      </div>
      
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <% timeout_in_seconds = Devise.timeout_in.to_i %>
      <% session_data = defined?(warden) ? warden.session(:user) : {} %>
      <% last_request_at = session_data && session_data["last_request_at"] %>
      <% expires_at = if last_request_at.present?
                        last_request_at.to_i + timeout_in_seconds
                      else
                        Time.current.to_i + timeout_in_seconds
                      end %>
      <div data-controller="session-timeout"
           data-session-timeout-expires-at-value="<%= expires_at %>"
           data-session-timeout-duration-value="<%= timeout_in_seconds %>"
           data-session-timeout-warning-offset-value="15"
           data-session-timeout-keepalive-url-value="<%= user_session_keepalive_path %>"
           data-session-timeout-flash-container-value="flash-messages"></div>
    <% end %>
  </body>
</html>
